@import "tailwindcss";
@plugin "daisyui";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #0e7ba6;
    --accent: #ffbe33;
    --muted: #d3d4d4;
    scroll-behavior: smooth;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-muted: var(--muted);

    --color-primary-50: color-mix(in srgb, var(--primary) 5%, white);
    --color-primary-100: color-mix(in srgb, var(--primary) 10%, white);
    --color-primary-200: color-mix(in srgb, var(--primary) 25%, white);
    --color-primary-300: color-mix(in srgb, var(--primary) 40%, white);
    --color-primary-400: color-mix(in srgb, var(--primary) 70%, white);
    --color-primary-500: var(--primary);
    --color-primary-600: color-mix(in srgb, var(--primary) 90%, black);
    --color-primary-700: color-mix(in srgb, var(--primary) 80%, black);
    --color-primary-800: color-mix(in srgb, var(--primary) 70%, black);
    --color-primary-900: color-mix(in srgb, var(--primary) 60%, black);
    --color-primary-950: color-mix(in srgb, var(--primary) 40%, black);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Roboto, sans-serif;
}
